@charset "UTF-8";
/* CSS Document */

body {
  background:#121212 url(images/gunmetal_sunrise.jpg) no-repeat top center;  
  margin:0;
  text-align:center;
    height:100%;
  font-family:Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

a
{
  text-decoration: none;
}

.main-content a {
  color: #808080;  
}

.main-content a:hover {
  color: #5c5c5c;
}

h1, h2, h3, h4, h5
{
  color: #3d3d3d;  
}

.centering-mechanism {
  margin:0 auto;
  width:1004px;
  text-align:center;
    height:100%;
}

.wrapper {
  width:1004px;
  background:#5f5f5f;
  float:left;
  text-align:center;
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
  min-height:100%; /* real browsers */
  position:absolute;
}

.wrap-inner {
  width:960px;
  background:#eef1f5 url(images/someone_dun_broke_my_header.jpg) no-repeat top left;
  float:left;
  margin:22px;
  text-align:left;
}

.branding-area {
  width:940px;
  height:110px;
  float:left;
  padding:10px;
}

.fmis-icon {
  width:164px;
  height:79px;
  float:right;
  text-align:left;
  /*background: transparent url(images/fmis_esplode_icon.png) top left no-repeat;*/
}

.menu-shelf {
  width:944px;
  height:84px;
  float:left;
  padding:0 8px;
}

/* ----------------------------------- UPLOAD BUTTON ------------------------------ */

.main-menu-btn-lt {
  width:9px;
  height:61px;
  float:left;
  background:transparent url(images/sweet_menu_btn_left.png) no-repeat top left;
}

.main-menu-btn-mid-container {
  float:left;
  height:61px;
  width:180px;
}

.main-menu-btn-mid {
  background:url("images/upload_media.png") no-repeat scroll 50% 45%, url("images/sweet_menu_btn_mid.png") repeat-x scroll left top transparent;
  cursor:pointer;
  float:left;
  height:61px;
  position:absolute;
  width:180px;
  z-index:101;
}

.btn-arrow {
  background:url("images/arrow_of_doom.png") no-repeat scroll right bottom transparent;
  bottom:-6px;
  height:24px;
  left:36px;
  position:absolute;
  width:107px;
  z-index:102;
}

.btn-menu-items {
  background:none repeat scroll 0 0 #4c4c4c;
  float:left;
  height:0px;
  margin-top:58px;
  position:absolute;
  width:180px;
  -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -khtml-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.btn-menu-items .block {
  display: none;
}

.btn-menu-items ul {
  padding: 15px 4px 20px;
}

.btn-menu-items .block li {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
}

.btn-menu-items .block a {
  color: #56bdff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size:18px;
}

.btn-menu-items .block h2 {
  display: none;
}

.main-menu-btn-rt {
  width:7px;
  height:61px;
  float:left;
  background:transparent url("images/sweet_menu_btn_right.png") no-repeat top left;
}


.gradient {
  /* Legacy browsers */
  background: #4c4c4c url("images/gradient-bg.png") repeat-x top;
  -o-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  /* Internet Explorer */
  *background: #4c4c4c;
  background: #4c4c4c\0/;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF717171, endColorstr=#FF4c4c4c);
  }
  @media all and (min-width: 0px) {
    .gradient {
      /* Opera */
      background: #4c4c4c url("images/gradient-bg.svg");
      /* Recent browsers */
      background-image: -moz-linear-gradient(
        top,
        #717171,
        #4c4c4c
      );
      background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#717171),
        to(#4c4c4c)
      );
    }
  }

/* ----------------------------- SUB MENU ------------------------------- */

.sub-menu-btn-lt {
  width:3px;
  height:54px;
  float:left;
  margin-top:4px;
  background:transparent url(images/submenu_left.png) no-repeat top left;
}

.sub-menu-btn-mid {
  height:54px;
  float:left;
  margin-top:4px;
  background:transparent url(images/submenu_mid.png) repeat-x top left;
}

.sub-menu-btn-mid li a {
  color:#C3C3C3;
  padding:12px 5px;
  font-size: 14px;
  text-decoration:none;
  text-transform:uppercase;
}

.sub-menu-btn-mid ul.links {
  margin:16px 0 17px 7px;
}

.sub-menu-btn-mid ul.links li {
  border-left:1px solid #151515;
  display:inline;
  list-style-type:none;
  padding:11px;
  margin-right: -5px;
}

.sub-menu-btn-mid ul.links li.last {
  margin-right: 0px;
}

.sub-menu-btn-rt {
  width:18px;
  height:54px;
  float:left;
  margin-top:4px;
  background:transparent url(images/submenu_right.png) no-repeat top left;
}

.col-wrap {
  width:960px;
  float:left;
}

.left-col {
  width:208px;
  float:left;
}

.sub-menu-asset-menu {
  padding: 20px 10px;
  color: #717171;
  font-size: 14px;
}





.sub-menu-asset-menu ul.menu li a {
color:#727272;
font-size:16px;
}

.sub-menu-asset-menu ul.menu li.active-trail {
  background: url(images/subnav_item_arrow_hover.jpg) top right no-repeat #bfbfbf;
}



.sub-menu-asset-menu ul.menu li {
height:21px;
list-style:none outside none;
margin:5px 0;
padding:6px 0 6px 10px;
}

.sub-menu-asset-menu .block-menu ul {
  padding: 0;

}




/* --------------------------- ADMIN BLOCK --------------------------- */

.sub-menu-admin-menu {
  width:170px;
  background:#5F5F5F url(images/cool_lookin_block_top.jpg) no-repeat top left;
  float:left;
  padding:10px;
  
}
.sub-menu-admin-menu a {
    color: #c5c5c5;
}

.sub-menu-admin-menu a:hover {
  color: #333;  
}

.sub-menu-admin-menu li.leaf {
  list-style: none;  
}

.sub-menu-admin-menu li {
  margin: 10px 0px 0px !important;
  padding: 0;
}

.sub-menu-admin-menu h2 {
  color: #edf0f5;
  font-weight: normal;
  margin-bottom: 0;
}

.block-menu-bottom {
  width:190px;
  height:41px;
  background:transparent url(images/cool_lookin_block_bottom.jpg) no-repeat bottom left;
  float:left;
  margin-bottom:20px;
}

.left-bottom-block
{
  float: left;
  width: inherit;
}

.left-bottom-block table {
  width: 180px;
  
}
.left-bottom-block td {
  padding: 3px;  
}
.left-bottom-block tbody {
border-top:none;
}

.left-bottom-block tr.even,
.left-bottom-block tr.odd
{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


.right-col {
  width:744px;
  float:left;
  background:transparent url(images/barely_there_content_top.jpg) no-repeat top left;
}

/* -------------------------- TABS ------------------------------- */

.content-toolbar {
  float:left;
  margin: -15px 0 0 10px;
}
.tabs-lt {
  width:8px;
  height:34px;
  background:transparent url(images/elusive_tabs_menu_left.png) no-repeat top left;
  float:left;
}
.tabs-mid {
  height:34px;
  background:transparent url(images/elusive_tabs_menu_mid.png) repeat-x top left;
  float:left;
  color: #6b6b6b;
  font-size: 14px;
}

ul.primary {
  border-bottom:medium none;
  border-collapse:collapse;
  height:auto;
  line-height:normal;
  list-style:none outside none;
  margin:8px 4px 8px 0px ;
  padding:0;
  white-space:nowrap;
}

ul.primary li a {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  color:#6B6B6B;
  height:auto;
  margin-left:4px;
  margin-right: 0px;
  padding:4px 10px;
  text-decoration:none;
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

ul.primary li a.active {
  background: #bfbfbf;  
}

ul.primary li.last a {
  margin-right: 4px;
}

ul.primary li {
  border-left:1px solid #C4C4C4;
  display:inline;
  padding:4px 0;
}


ul.primary li.active a {
  border: none;
}

ul.primary li a:hover {
  background: #3fc904;
  color: #ffffff;
}

.tabs-arrow {
  background: transparent url(images/elusive_tabs_menu_arrow.png) top left no-repeat;
  height:13px;
  width: 27px;
  position: absolute;
  margin-top: -1px;
  visibility: hidden;z-index: 100;
}

.tabs-rt {
  width:9px;
  height:34px;
  background:transparent url(images/elusive_tabs_menu_right.png) no-repeat top left;
  float:left;
}

/* -------------------------------- CONTENT AREA ------------------------------ */

.main-content {
  width:704px;
  padding:20px;
  float:left;
  
}



.footer {
  width:960px;
  height:81px;
  float:left;
  background:transparent url(images/boring_ol_footer.jpg) no-repeat top left;
  

}
.footer-copy {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}



/* -----------------------------   CLEARFIX STUFF   ------------------------- */

.clearfix:after 
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix 
{
  display: inline-block;
}
 
html[xmlns] .clearfix
{
  display: block;
}
 
* html .clearfix 
{
  height: 1%;
}

/* -------- bryan's edits ----- */
.views-field-field-audiothumb-fid {
  /*width:150px;
  margin-left: 10px;*/
}

tr.odd {
  background-color:#DDD;
}
tr.odd td.active {
  background-color:#DDD;
}
tr.even td.active {
  background-color:#EEE;
}




/* ----------------------------------- */

.main-content td {
  padding: 10px;  
}



.main-content tbody tr {
}

.main-content th {
  color: #3d3d3d;  
}



.view-content table.views-table tr td {
  padding: 10px;  
}


.main-content h1
{
  margin: 0px;  
}

.view-filters {
  margin: 20px 0px;  
}

.views-fluid-grid-item {
  font-size:12px;
}

.breadcrumb {
  font-size: 12px;
}

.main-content .field-item {
  color: #808080;
  font-size: 14px;
  margin-left: 5px;
}




/* ---------------------------------------------- NEW CONTENT SQUARES ----------------------------------------- */


.main-content .view-content ul li .views-field-title a {
  /* links in box */
  font-size: 10px;
  color: #3d3d3d;
  
}

.main-content .view-content ul li .views-field-title a:hover {
  color: #bfbfbf;
}
.main-content .view-content ul li .views-field-title {
  /* div container for links */
  
  width: 100%;
  background: #aaa;
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 35px;
  padding-top: 5px;
  
  -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

  
  border-top: 1px solid #3d3d3d;
  
}

.main-content .view-content ul li .views-field-title:hover {

}
.main-content .view-content ul li.views-fluid-grid-item {
  /* the entire thumbnail li */
  
  padding: 0;
  position: relative;
}

ul.views-fluid-grid-items-height-100 li.views-fluid-grid-item {
  overflow:hidden;
height:140px;
}

ul.views-fluid-grid-list li.views-fluid-grid-item .div-content {
  overflow: hidden;
}


.main-content ul li.views-fluid-grid-item .elmedia-top a img {
  -moz-border-radius: 4px 4px 0 0 ;
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

li.views-fluid-grid-item {
  border: 1px solid #3d3d3d;  
}

.image-treatment-spacer {
  margin-bottom:40px;
  float:left;
}
tr.odd .form-item, tr.even .form-item {
  white-space:inherit;  
}

div.vertical-tabs {
 border-right:none;
 border-top:none;
 border-bottom:none;  
}

.node-form-has-region-right .form-region-main {
 width:inherit;  
}
